    body {
        font-family: "monsterrat";
    }
    
    #title {
        background-color: #ff4c68;
        color: #fff;
    }
    
    h1 {
        font-family: "montserrat-black", sans-serif;
        font-size: 3.5rem;
        line-height: 1.5;
    }
    
    h2 {
        font-family: "montserrat-bold";
        font-size: 3rem;
        line-height: 1.5;
    }
    
    .container-fluid {
        padding: 3% 15% 7%;
    }
    /* navbar */
    
    .navbar {
        padding-bottom: 4.5rem;
    }
    
    .navbar-brand {
        font-family: "ubuntu";
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .nav-item {
        padding: 0 18px;
    }
    
    .nav-link {
        font-size: 1.2rem;
        font-family: "montserrat-light";
    }
    /* buttons */
    
    .download-button {
        margin: 5% 3% 5% 0;
    }
    /* Tittle image */
    
    .Tittle-img {
        width: 60%;
        transform: rotate(25deg);
    }
    
    h3 {
        font-family: "montserrat-bold";
        font-weight: bold;
    }
    /* faetures */
    
    #features {
        padding: 7% 15%;
    }
    
    .feature-box {
        text-align: center;
        padding: 5%;
    }
    
    p {
        color: #8f8f8f;
    }
    
    .icon {
        color: #ef8172;
        margin-bottom: 1rem;
    }
    
    .icon:hover {
        color: #ff4c68;
    }
    /* testemonial structures */
    
    #testimonials {
        text-align: center;
        background: linear-gradient(to right, black, #ef8172);
        color: #fff;
    }
    
    .testimonial-img {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }
    
    #press {
        background: linear-gradient(to right, black, #ef8172);
        color: #fff;
        text-align: center;
        padding-bottom: 3%;
    }
    
    .press-img {
        width: 15%;
        margin: 20px 15px 15px;
    }
    
    .carousel-item {
        padding: 7% 15%;
    }
    
    .btn-prc {
        width: 100%;
    }
    /* pricing */
    
    #pricing {
        padding: 100px;
        text-align: center;
    }
    
    .pricing-column {
        padding: 3% 2%;
    }
    
    #cta {
        background: linear-gradient(to right, black, #ef8172);
        text-align: center;
        margin-bottom: 0%;
        padding-bottom: 0%;
        font-size: 1.2rem;
        font-family: "montserrat-light";
        color: #fff;
    }
    
    #footer {
        background: linear-gradient(to right, black, #ef8172);
        color: #8f8f8f;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
